<% if (req.session.me) { %>
   <link href="css/reportes.css" rel="stylesheet">
   <div id="wrapper">

      <nav class="navbar-default navbar-static-side" role="navigation">
         <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
               <li class="nav-header">
                  <div class="dropdown profile-element">
                     <span>
                <img alt="image" class="img-circle" src="logo.png" width="30%" height="10%" />
              </span>
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">Administrador</strong>
                  </span>
                        <span class="text-muted text-xs block">
                    <%= req.session.me.nombre %>
                      <input type="text" value="<%= req.session.me.nombre %>" id="creador" style="display: none">
                      <b class="caret"></b>
                  </span>
                        </span>
                     </a>
                     <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                           <a href="/GloblalPerfil?user=<%= req.session.me.idUsuario %>">Perfil</a>
                        </li>
                        <li>
                           <a href="usuario/logout">Cerrar Sesión </a>
                        </li>
                     </ul>
                  </div>
                  <div class="logo-element">
                     IN+
                  </div>
               </li>
               <li>
                  <a href="/SuperAdministradorInicio" class="active">
                     <i class="fa fa-area-chart"></i>
                     <span class="nav-label">Inicio</span>
                  </a>
               </li>
               <li>
                  <a href="/SuperAdministradorConsultas">
                     <i class="fa fa-search"></i>
                     <span class="nav-label">Consultas</span>
                  </a>
               </li>

               <li>
                  <a href="/SuperAdministradorCostos">
                     <i class="fa fa-money"></i>
                     <span class="nav-label">Costos</span>
                  </a>
               </li>

               <li class="active">
                  <a href="">
                     <i class="fa fa-file"></i>
                     <span class="nav-label">Reportes</span>
                     <span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                     <li class="active">
                        <a href="/SuperAdministradorReporteMensual">
                           <i class="fa fa-clock-o"></i>Reportes Fecha</a>
                     </li>
                     <li>
                        <a href="/SuperAdministradorReporteTicket">
                           <i class="fa fa-ticket"></i>Informes Tickets</a>
                     </li>
                  </ul>
               </li>

               <li>
                  <a href="">
                     <i class="fa fa-diamond"></i>
                     <span class="nav-label">Staff</span>
                     <span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                     <li>
                        <a href="/SuperAdministradorCargo">
                           <i class="fa fa-suitcase"></i>Cargos</a>
                     </li>
                     <li>
                        <a href="/SuperAdministradorUsuarios">
                           <i class="fa fa-diamond"></i>Staff</a>
                     </li>
                  </ul>
               </li>
            </ul>

         </div>
      </nav>

      <div id="page-wrapper" class="gray-bg">
         <div class="row border-bottom">
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
               <div class="navbar-header">
                  <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                     <i class="fa fa-bars"></i>
                  </a>
               </div>
               <ul class="nav navbar-top-links navbar-right">
                  <li>
                     <span class="m-r-sm text-muted welcome-message">Bienvenido
                <%= req.session.me.nombre %>
              </span>
                  </li>

                  <li>
                     <a href="usuario/logout">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                     </a>
                  </li>
               </ul>

            </nav>
         </div>
         <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
               <h2>Reportes</h2>
               <ol class="breadcrumb">
                  <li>
                     <a href="">Reportes</a>
                  </li>
                  <li class="active">
                     <strong>Reporte por Fecha</strong>
                  </li>
               </ol>
            </div>
            <div class="col-sm-8">
               <div class="title-action">

               </div>
            </div>
         </div>


         <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
               <div class="col-md-12">
                  <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h5>Reportes por Fecha |
                           <small>El siguiente módulo le permitirá obtener un reporte global de los tickets realizados en el periodo de tiempo
                    seleccionado
                  </small>
                        </h5>
                        <div class="ibox-tools">
                           <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                           </a>
                           <a class="close-link">
                              <i class="fa fa-times"></i>
                           </a>
                        </div>
                     </div>
                     <div class="ibox-content">

                        <div class="row">
                           <div class="col-lg-4 col-md-4 col-sm-12">
                              <div class="form-group">
                                 <label>Empresa</label>
                                 <select id="empresa" class="form-control">

                      </select>
                              </div>
                           </div>

                           <div class="col-lg-4 col-md-4 col-sm-12">
                              <div class="form-group">
                                 <label>Contacto</label>
                                 <select id="contacto" class="form-control">
                        <option value="0">NINGUN CLIENTE</option>
                      </select>
                              </div>
                           </div>

                           <div class="col-lg-4 col-md-4 col-sm-12">
                              <div class="form-group">
                                 <label>Staffs</label>
                                 <select id="staffTicket" class="form-control">
                        <option value="0">NINGUN STAFF</option>
                      </select>
                              </div>
                           </div>

                        </div>

                        <div class="row">

                           <div class="col-lg-4 col-md-4 col-sm-12">
                              <div class="form-group" id="data_5">
                                 <label>Rago Fecha
                        <small style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;* Obligatorio</small>
                      </label>
                                 <div class="input-daterange input-group" id="datepicker">
                                    <input type="text" class="input-sm form-control" name="start" id="fechaInicio" placeholder="Fecha Apertura" style="height: 35px">
                                    <span class="input-group-addon">Hasta</span>
                                    <input type="text" class="input-sm form-control" name="end" id="fechaFin" placeholder="Fecha Cierre" style="height: 35px">
                                 </div>
                              </div>
                           </div>

                           <div class="col-lg-4 col-md-4 col-sm-12">
                              <div class="form-group">
                                 <label>Estado Ticket</label>
                                 <select id="estado" class="form-control">
                        <option value="0">NINGUN ESTADO</option>
                        <option value="FINALIZADO POR FACTURAR">FINALIZADO POR FACTURAR</option>
                        <option value="FINALIZADO">FINALIZADO</option>
                      </select>
                              </div>
                           </div>

                           <div class="col-md-4 col-md-4 col-sm-12">
                              <div class="form-group">
                                 <label>&nbsp;</label>
                                 <br>
                                 <button type="submit" class="btn btn-success" id="btnBuscar" style="width: 100%">
                        <i class="fa fa-search"></i> Buscar</button>
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                              <div class="tabs-container">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a data-toggle="tab" href="#tab-1"> Ticket</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                       <div class="panel-body">
                                          <div id="example">
                                             <div class="row">
                                                <div class="col-md-12" style="display: block">

                                                   <div class="row">
                                                      <div class="col-md-12">
                                                         <button class="btn btn-default" id="imprimirReporte">
                                        <i class="fa fa-print"></i>
                                        <b>Imprimir</b>
                                      </button>
                                                         <button class="btn btn-info" id="exportarReporte">
                                        <i class="fa fa-file-excel-o"></i>
                                        <b>Excel</b>
                                      </button>
                                                      </div>
                                                   </div>
                                                   <br>
                                                   <div id="reporteTicket" class="hide">
                                                      <table class="global" cellspacing="4" cellpadding="4" border="0" style="width: 100%">
                                                         <tbody>
                                                            <tr>
                                                               <td colspan="6" align="center">
                                                                  <img src="images/logoInicio.png" alt="TICKETING PLUS">
                                                                  <hr>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6" align="center">
                                                                  <h2 style="font-weight: bold;" id="mesSR"></h2>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6">
                                                                  <br>
                                                                  <u>
                                              <b>TICKETS REALIZADOS</b>
                                            </u>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6">
                                                                  <table class="table" cellspacing="4" cellpadding="4" border="1" style="width: 100%">
                                                                     <thead>
                                                                        <tr>
                                                                           <td>
                                                                              <b>Código</b>
                                                                           </td>
                                                                           <td>
                                                                              <b>Estado</b>
                                                                           </td>
                                                                           <td>
                                                                              <b>Contato/s</b>
                                                                           </td>
                                                                           <td>
                                                                              <b>Fecha Apertura</b>
                                                                           </td>
                                                                           <td>
                                                                              <b>Fecha Cierre</b>
                                                                           </td>
                                                                           <td>
                                                                              <b>Tiempo Total</b>
                                                                           </td>
                                                                        </tr>
                                                                     </thead>
                                                                     <tbody id="bodyReporteMensual">

                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>

                                                            <tr>
                                                               <td colspan="6">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6" style="text-align: right" id="numeroTotal"></td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6" style="text-align: right" id="tiempoTotal"></td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="6">&nbsp;</td>
                                                            </tr>

                                                            <tr>
                                                               <td colspan="3">
                                                                  <div class="row">
                                                                     <div style="text-align: center;">
                                                                        <br>
                                                                        <br>
                                                                        <br> ___________________________________________
                                                                        <br>
                                                                        <br> Nombre: ____________________________
                                                                        <br>
                                                                        <br> C.I: _______________________________
                                                                        <br>
                                                                        <br>
                                                                     </div>
                                                               </td>
                                                               <td colspan="3">
                                                                  <div style="text-align: center;">
                                                                     <br>
                                                                     <br>
                                                                     <br> ___________________________________________
                                                                     <br>
                                                                     <br> Nombre: ____________________________
                                                                     <br>
                                                                     <br> C.I: _______________________________
                                                                     <br>
                                                                     <br>
                                                                  </div>
                                                                  </div>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div id="dvjson"></div>

         <div class="footer">
            <div>
               <strong>Innovacloud </strong> Ticketing &copy; 2020 - 2021
            </div>
         </div>

      </div>
   </div>

   <script>
      var data = [];

      buscarEmpresas();
      buscarStaffs();

      $('#estado').multiselect('destroy');
      $('#estado').multiselect({
         includeSelectAllOption: true,
         enableFiltering: true,
         buttonWidth: '100%',
         maxHeight: 280
      });

      $('#data_5 .input-daterange').datepicker({
         format: 'yyyy-mm-dd',
         keyboardNavigation: false,
         forceParse: false,
         autoclose: true
      });

      $("#btnBuscar").click(function() {
         data = [];
         buscarTicketsMensual();
         // buscarTicketsMensualResumen(mes);
      });

      function buscarStaffs() {

         io.socket.get('/usuario', function(resData, jwres) {

            if (jwres.statusCode == 200) {
               var htmlOut = '<option value="0">NINGUN STAFF</option>';
               for (var i = 0; i < resData.length; i++) {
                  htmlOut += '<option value="' + resData[i].idUsuario + '">' + resData[i].nombre + '</option>';
               }

               $('#staffTicket').empty();
               $('#staffTicket').append(htmlOut);

               $('#staffTicket').multiselect('destroy');
               $('#staffTicket').multiselect({
                  includeSelectAllOption: true,
                  enableFiltering: true,
                  buttonWidth: '100%',
                  maxHeight: 280
               });
            }
         });
      }

      function buscarEmpresas() {

         io.socket.get('/empresa', function(resData, jwres) {

            if (jwres.statusCode == 200) {

               if (resData.length >= 1) {
                  var htmlOut = '<option value="0">NINGUNA EMPRESA</option>';
                  for (var i = 0; i < resData.length; i++) {
                     htmlOut += "<option value='" + resData[i].idEmpresa + "'>" + resData[i].nombre + "</option>\n";
                  }

                  $('#empresa').empty();
                  $('#empresa').append(htmlOut);

               }

            }

         });

      }

      $("#empresa").click(function() {
         var empresa = $('#empresa').val();
         io.socket.get('/cliente?idEmpresa=' + empresa + '', function(resData, jwres) {

            if (jwres.statusCode == 200) {

               var htmlOut = '<option value="0">NINGUN CLIENTE</option>';
               for (var i = 0; i < resData.length; i++) {
                  htmlOut += "<option value='" + resData[i].idCliente + "'>" + resData[i].nombre + "</option>\n";
               }

               $('#contacto').empty();
               $('#contacto').append(htmlOut);

               $('#contacto').multiselect('destroy');
               $('#contacto').multiselect({
                  includeSelectAllOption: true,
                  enableFiltering: true,
                  buttonWidth: '100%',
                  maxHeight: 200
               });

            }

         });
      });

      function buscarTicketsMensual() {

         var consulta = '';
         var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
         };

         var empresa = $('#empresa').val();
         var contacto = $('#contacto').val();
         var fechaInicio = $('#fechaInicio').val();
         var fechaFin = $('#fechaFin').val();
         var estado = $('#estado').val();

         if (fechaInicio.length == '' || fechaFin.length == '') {
            toastr.error('Seleccione el Rango de fecha', 'Gestión Reporte');
         } else {

            if (empresa != 0) {
               consulta += ('(SELECT ' +
                  'GROUP_CONCAT(empresa.idEmpresa) ' +
                  'FROM ' +
                  'empresa ' +
                  'INNER JOIN cliente ON empresa.idEmpresa = cliente.idEmpresa ' +
                  'WHERE ' +
                  'empresa.idEmpresa = (SELECT GROUP_CONCAT((SELECT cliente.idEmpresa FROM cliente WHERE cliente.idCliente = cliente_ticket.idCliente) SEPARATOR \', \') FROM cliente_ticket WHERE cliente_ticket.idTicket = ticket.idTicket)) LIKE \'%' + empresa + '%\' AND ');
            }
            if (contacto != 0) {
               consulta += ('(SELECT GROUP_CONCAT((SELECT cliente.idCliente FROM cliente WHERE cliente.idCliente = cliente_ticket.idCliente) SEPARATOR \', \') FROM cliente_ticket WHERE cliente_ticket.idTicket = ticket.idTicket) LIKE \'%' + contacto + '%\' AND ');
            }

            consulta += ('DATE(ticket.fechaApertura) >= \'' + fechaInicio + '\' && DATE(ticket.fechaCierre) <= \'' + fechaFin + '\' AND ');

            if (estado != 0) {
               consulta += ('ticket.estado = \'' + estado + '\' AND ');
            }

            //((SELECT GROUP_CONCAT( ( SELECT usuario.idUsuario FROM usuario WHERE usuario.idUsuario = usuario_ticket.idUsuario ) SEPARATOR ',' )  FROM usuario_ticket WHERE usuario_ticket.idTicket = ticket.idTicket ) LIKE '%" + staffs + "%')


            //console.log(consulta.substr(0, (consulta.length - 4)));

            io.socket.post('/ticket/reportTicketMonth', {
               sql: (consulta.substr(0, (consulta.length - 4)))
            }, function(resData, jwres) {
               var htmlOut = '';
               if (jwres.statusCode == 201) {

                  $("#reporteTicket").removeClass("hide");
                  $('#mesSR').empty();
                  $('#bodyReporteMensual').empty();

                  for (var i = 0; i < resData.length; i++) {

                     var fechaApertura = new Date(resData[i].fechaApertura);
                     var fechaCierre = new Date(resData[i].fechaCierre);

                     var str = resData[i].empresa;
                     var res = str.split(",");

                     htmlOut += '<tr>' +
                        '<td>' + resData[i].codigo + '</td>' +
                        '<td>' + resData[i].estado + '</td>' +
                        '<td><b>Empresa:</b> ' + res[0] + '<br><b>Contacto:</b> ' + resData[i].contacto + '</td>' +
                        '<td>' + fechaApertura.toLocaleDateString("es-ES", options) + '</td>' +
                        '<td>' + fechaCierre.toLocaleDateString("es-ES", options) + '</td>' +
                        '<td>' + resData[i].tiempo_total + '</td>' +
                        '</tr>';


                  }
                  $('#bodyReporteMensual').html(htmlOut);
                  buscarTicketsMensualResumen((consulta.substr(0, (consulta.length - 4))));

                  data = resData;

               }

            });
         }
      }

      function buscarTicketsMensualResumen(sql_) {
         io.socket.post('/ticket/reportTicketMonthSummary', {
            sql: sql_
         }, function(resData, jwres) {
            var htmlOut = '';
            if (jwres.statusCode == 201) {
               $('#numeroTotal').empty();
               $('#tiempoTotal').empty();

               $('#numeroTotal').html('<b>Número Total Tickets:&nbsp;</b>' + resData[0].numeroTickets + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
               $('#tiempoTotal').html('<b>Tiempo Total Tickets:&nbsp;</b>' + resData[0].tiempoTotal + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
            }

         });
      }

      $("#imprimirReporte").click(function() {
         $("#reporteTicket").printMe({
            "path": ["font-awesome/css/font-awesome.css", "css/bootstrap.css", "css/style.css", "css/reportes.css"]
         });
      });

      $("#exportarReporte").click(function() {
         $("#dvjson").excelexportjs({
            containerid: "dvjson",
            datatype: 'json',
            dataset: data,
            columns: getColumns(data)
         });
      });
   </script>

   <% } else { %>
      <script>
         location.replace('/');
      </script>
      <% } %>