<% if (req.session.me) { %>
   <link href="css/reportes.css" rel="stylesheet">
   <div id="wrapper">

      <nav class="navbar-default navbar-static-side" role="navigation">
         <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
               <li class="nav-header">
                  <div class="dropdown profile-element">
                     <span>
                     <img alt="image" class="img-circle" src="logo.png" width="30%" height="10%" />
                  </span>
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                        <span class="block m-t-xs">
                           <strong class="font-bold">Administrador</strong>
                        </span>
                        <span class="text-muted text-xs block">
                           <%= req.session.me.nombre %>
                           <input type="text" value="<%= req.session.me.nombre %>" id="creador" style="display: none">
                           <b class="caret"></b>
                        </span>
                        </span>
                     </a>
                     <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                           <a href="/GloblalPerfil?user=<%= req.session.me.idUsuario %>">Perfil</a>
                        </li>
                        <li>
                           <a href="usuario/logout">Cerrar Sesión </a>
                        </li>
                     </ul>
                  </div>
                  <div class="logo-element">
                     IN+
                  </div>
               </li>
               <li>
                  <a href="/SuperAdministradorInicio" class="active">
                     <i class="fa fa-area-chart"></i>
                     <span class="nav-label">Inicio</span>
                  </a>
               </li>
               <li>
                  <a href="/SuperAdministradorConsultas">
                     <i class="fa fa-search"></i>
                     <span class="nav-label">Consultas</span>
                  </a>
               </li>

               <li>
                  <a href="/SuperAdministradorCostos">
                     <i class="fa fa-money"></i>
                     <span class="nav-label">Costos</span>
                  </a>
               </li>

               <li class="active">
                  <a href="">
                     <i class="fa fa-file"></i>
                     <span class="nav-label">Reportes</span>
                     <span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                     <li>
                        <a href="/SuperAdministradorReporteMensual">
                           <i class="fa fa-clock-o"></i>Reportes Fecha</a>
                     </li>
                     <li class="active">
                        <a href="/SuperAdministradorReporteTicket">
                           <i class="fa fa-ticket"></i>Informes Tickets</a>
                     </li>
                  </ul>
               </li>

               <li>
                  <a href="">
                     <i class="fa fa-diamond"></i>
                     <span class="nav-label">Staff</span>
                     <span class="fa arrow"></span>
                  </a>
                  <ul class="nav nav-second-level collapse">
                     <li>
                        <a href="/SuperAdministradorCargo">
                           <i class="fa fa-suitcase"></i>Cargos</a>
                     </li>
                     <li>
                        <a href="/SuperAdministradorUsuarios">
                           <i class="fa fa-diamond"></i>Staff</a>
                     </li>
                  </ul>
               </li>

            </ul>

         </div>
      </nav>

      <div id="page-wrapper" class="gray-bg">
         <div class="row border-bottom">
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
               <div class="navbar-header">
                  <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                     <i class="fa fa-bars"></i>
                  </a>
               </div>
               <ul class="nav navbar-top-links navbar-right">
                  <li>
                     <span class="m-r-sm text-muted welcome-message">Bienvenido
                     <%= req.session.me.nombre %>
                  </span>
                  </li>

                  <li>
                     <a href="usuario/logout">
                        <i class="fa fa-sign-out"></i> Cerrar Sesión
                     </a>
                  </li>
               </ul>

            </nav>
         </div>
         <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-4">
               <h2>Reporte</h2>
               <ol class="breadcrumb">
                  <li>
                     <a href="">Reporte</a>
                  </li>
                  <li class="active">
                     <strong>Informe Ticket</strong>
                  </li>
               </ol>
            </div>
            <div class="col-sm-8">
               <div class="title-action">

               </div>
            </div>
         </div>


         <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
               <div class="col-md-12">
                  <div class="ibox float-e-margins">
                     <div class="ibox-title">
                        <h5>Informe Ticket |
                           <small>El siguiente módulo le permitirá realizar un reporte del informe del ticket perteneciente
                           a un staff.</small>
                        </h5>
                        <div class="ibox-tools">
                           <a class="collapse-link">
                              <i class="fa fa-chevron-up"></i>
                           </a>
                           <a class="close-link">
                              <i class="fa fa-times"></i>
                           </a>
                        </div>
                     </div>
                     <div class="ibox-content">

                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Staffs
                                 <small style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;* Obligatorio</small>
                              </label>
                                 <select id="usuarioTicket" class="form-control">
                                 <option value="0">Seleccionar Staff</option>
                              </select>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>Código Ticket
                                 <small style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;* Obligatorio</small>
                              </label>
                                 <select id="codigoTicket" class="form-control">
                                 <option value="0">Seleccionar Código Ticket</option>
                              </select>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <label>&nbsp;</label>
                                 <br>
                                 <button type="submit" class="btn btn-success" id="btnBuscar" style="width: 100%">
                                 <i class="fa fa-search"></i> Buscar</button>
                              </div>
                           </div>
                        </div>

                        <div class="row">
                           <div class="col-md-12">
                              <div class="tabs-container">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a data-toggle="tab" href="#tab-1"> Ticket</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                       <div class="panel-body">
                                          <div id="example">
                                             <div class="row">
                                                <div class="col-md-12" style="display: block">

                                                   <button class="btn btn-default" id="imprimirReporte">
                                                   <i class="fa fa-print"></i> Imprimir</button>
                                                   <br>
                                                   <div id="reporteTicket" class="hide">
                                                      <table class="global" cellspacing="4" cellpadding="4" border="0" style="width: 100%; margin-top: 50px !important;">
                                                         <tbody>
                                                            <tr>
                                                               <td colspan="4" align="center">
                                                                  <img src="images/logoInicio.png" alt="TICKETING PLUS" width="30%">
                                                                  <hr>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4" align="center">
                                                                  <h2 style="font-weight: bold;">Resumen del Ticket</h2>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Estado:</b>
                                                               </td>
                                                               <td id="estadoSR"></td>
                                                               <td>
                                                                  <b>Prioridad:</b>
                                                               </td>
                                                               <td id="prioridadSR"></td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">
                                                                  <br>
                                                                  <u>
                                                                  <b>TICKET</b>
                                                               </u>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Creado Por:</b>
                                                               </td>
                                                               <td id="creadorSR"></td>
                                                               <td>
                                                                  <b>Fecha Apertura: </b>
                                                               </td>
                                                               <td id="fechaAperturaSR"></td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>N° Ticket: </b>
                                                               </td>
                                                               <td id="codigoSR"></td>
                                                               <td>
                                                                  <b>Fecha Cierre:</b>
                                                               </td>
                                                               <td id="fechaCierreSR"></td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Staff/s Involucrados:</b>
                                                               </td>
                                                               <td id="staffSR"></td>
                                                               <td>
                                                                  <b>Tiempo Total:</b>
                                                               </td>
                                                               <td id="tiempoTotalSR"></td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">
                                                                  <br>
                                                                  <u>
                                                                  <b>CLIENTE</b>
                                                               </u>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Empresa:</b>
                                                               </td>
                                                               <td id="nombreEmpresaSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Cliente/s</b>
                                                               </td>
                                                               <td id="clientesSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">
                                                                  <br>
                                                                  <u>
                                                                  <b>PRODUCTO</b>
                                                               </u>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Marca:</b>
                                                               </td>
                                                               <td id="marcaSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Modelo:</b>
                                                               </td>
                                                               <td id="modeloSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Versión:</b>
                                                               </td>
                                                               <td id="versionSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4" align="center">
                                                                  <h2 style="font-weight: bold;">Incidencias Ticket</h2>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Asunto:</b>
                                                               </td>
                                                               <td id="asuntoSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Revisión Física:</b>
                                                               </td>
                                                               <td id="revisionFisicaSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <b>Revisión Lógica:</b>
                                                               </td>
                                                               <td id="revisionLogicaSR"></td>
                                                               <td>&nbsp;</td>
                                                               <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">
                                                                  <br>
                                                                  <u>
                                                                  <b>INCIDENCIAS</b>
                                                               </u>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="4">
                                                                  <br>
                                                                  <div id="incidenciaSR">



                                                                  </div>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="2">
                                                                  <div class="row">
                                                                     <div style="text-align: center;">
                                                                        <br>
                                                                        <br>
                                                                        <br> ___________________________________________
                                                                        <br>SOPORTE TÉCNICO
                                                                        <br>
                                                                        <br> Nombre: ____________________________
                                                                        <br>
                                                                        <br> C.I: _______________________________
                                                                        <br>
                                                                        <br>
                                                                     </div>
                                                               </td>
                                                               <td colspan="2">
                                                                  <div style="text-align: center;">
                                                                     <br>
                                                                     <br>
                                                                     <br> ___________________________________________
                                                                     <br>CLIENTE
                                                                     <br>
                                                                     <br> Nombre: ____________________________
                                                                     <br>
                                                                     <br> C.I: _______________________________
                                                                     <br>
                                                                     <br>
                                                                  </div>
                                                                  </div>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </div>

                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="footer">
            <div>
               <strong>Innovacloud </strong> Ticketing &copy; 2020 - 2021
            </div>
         </div>

      </div>
   </div>

   <script>
      buscarStaffs();

      $("#btnBuscar").click(function() {

         var usuario = $('#usuarioTicket').val();
         var ticket = $('#codigoTicket').val();

         if (usuario == 0 || ticket == 0) {
            toastr.error('Seleccionar un Staff y/o un Código del Ticket', 'Gestión Incidencia');
         } else {
            $("#reporteTicket").removeClass("hide");
            buscarTicketDetalle(ticket);
         }
      });

      $("#btnImprimir").click(function() {
         buscarTicketsParametros();
      });

      $("#usuarioTicket").click(function() {
         var usuario = $('#usuarioTicket').val();
         buscarTickets(usuario);
      });

      function buscarTickets(idUsuario_) {

         io.socket.post('/ticket/searchTicketCode', {
            idUsuario: idUsuario_
         }, function(resData, jwres) {

            if (jwres.statusCode == 201) {
               var htmlOut = '<option value="0">Seleccionar Código Ticket</option>';
               for (var i = 0; i < resData.length; i++) {
                  htmlOut += '<option value="' + resData[i].idTicket + '">' + resData[i].codigo + '</option>';
               }

               $('#codigoTicket').empty();
               $('#codigoTicket').append(htmlOut);

               $('#codigoTicket').multiselect('destroy');
               $('#codigoTicket').multiselect({
                  includeSelectAllOption: true,
                  enableFiltering: true,
                  buttonWidth: '100%',
                  maxHeight: 280
               });
            }
         });
      }

      function buscarStaffs() {

         io.socket.get('/usuario?rol=USUARIO', function(resData, jwres) {

            if (jwres.statusCode == 200) {
               var htmlOut = '<option value="0">Seleccionar Staff</option>';
               for (var i = 0; i < resData.length; i++) {
                  htmlOut += '<option value="' + resData[i].idUsuario + '">' + resData[i].nombre + '</option>';
               }

               $('#usuarioTicket').empty();
               $('#usuarioTicket').append(htmlOut);
            }
         });
      }

      function obtenerArchivos(json) {

         var retorno = '' + json;

         var archivo = JSON.parse(json);
         var htmlOut = '';
         for (var i = 0; i < archivo.length; i++) {
            htmlOut += '<a href="' + archivo[i].ubicacion + '" target="_blank" class="btn btn-default" style="font-size: 14px" ><i class="fa fa-file-archive-o"></i> ' + archivo[i].nombre + '</a>&nbsp;&nbsp;&nbsp;';

         }

         retorno = htmlOut;

         return retorno;
      }

      function buscarTicketDetalle(ticket) {

         var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
         };

         io.socket.post('/ticket/searchTicketQuery', {
            idTicket: ticket
         }, function(resData, jwres) {

            if (jwres.statusCode == 201) {

               var fechaApertura = new Date(resData.fechaApertura);
               var fechaCierre = new Date(resData.fechaCierre);

               $('#codigoSR').empty();
               $('#codigoSR').append(resData.codigo);
               $('#creadorSR').empty();
               $('#creadorSR').append(resData.creador);
               $('#asuntoSR').empty();
               $('#asuntoSR').append(resData.asunto);
               $('#revisionFisicaSR').empty();
               $('#revisionFisicaSR').append(resData.revision_fisica);
               $('#revisionLogicaSR').empty();
               $('#revisionLogicaSR').append(resData.revision_logica);

               if (fechaApertura.toLocaleDateString("es-ES", options) != '31 de diciembre de 1969 19:00:00') {
                  $('#fechaAperturaSR').empty();
                  $('#fechaAperturaSR').append(fechaApertura.toLocaleDateString("es-ES", options));
               }

               $('#fechaCierreSR').empty();
               if (fechaCierre.toLocaleDateString("es-ES", options) != '31 de diciembre de 1969 19:00:00') {
                  $('#fechaCierreSR').empty();
                  $('#fechaCierreSR').append(fechaCierre.toLocaleDateString("es-ES", options));
               }

               $('#tiempoTotalSR').empty();
               $('#tiempoTotalSR').append('<p style=" border: 1px solid #672E91; border-radius: 2px;padding-left: 80px;">' + resData.tiempo_total + '</p>');
               $('#estadoSR').empty();
               $('#estadoSR').append(resData.estado);
               $('#prioridadSR').empty();
               $('#prioridadSR').append(resData.prioridad);

               io.socket.post('/ticket/searchIncidenciaQuery', {
                  idTicket: ticket
               }, function(resData, jwRes) {
                  var htmlIncidencia = ''
                  if (jwres.statusCode == 201) {

                     for (var i = 0; i < resData.length; i++) {

                        var fechaCovertirInicio = new Date(resData[i].tiempo[0].fechaInicio);
                        var fechaInicio = '';

                        var fechaConvertirFinal = new Date(resData[i].tiempo[0].fechaFinal);
                        var fechaFinal = '';

                        if (fechaCovertirInicio.toLocaleDateString("es-ES", options) != '31 de diciembre de 1969 19:00:00') {
                           fechaInicio = fechaCovertirInicio.toLocaleDateString("es-ES", options);
                        }

                        if (fechaConvertirFinal.toLocaleDateString("es-ES", options) != '31 de diciembre de 1969 19:00:00') {
                           fechaFinal = fechaConvertirFinal.toLocaleDateString("es-ES", options);
                        }


                        htmlIncidencia +=
                           '<div class="col-md-12">' +
                           '<table border="0">' +
                           '<tr>' +
                           '<td>' +
                           '<dt>Responsable Incidencia:&nbsp;</dt>' +
                           '</td>' +
                           '<td >&nbsp;&nbsp;&nbsp;' + resData[i].cliente_usuario + '</td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td>' +
                           '<dt>Inicio Incidencia:&nbsp;</dt>' +
                           '</td>' +
                           '<td>&nbsp;&nbsp;&nbsp;' + fechaInicio + '</td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td>' +
                           '<dt>Fin Incidencia:&nbsp;</dt>' +
                           '</td>' +
                           '<td>&nbsp;&nbsp;&nbsp;' + fechaFinal + '</td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td>' +
                           '<dt>Tiempo Total Incidencia:&nbsp;</dt>' +
                           '</td>' +
                           '<td >&nbsp;&nbsp;&nbsp;' + resData[i].tiempo[0].tiempo + '</td>' +
                           '</tr>' +
                           '<tr>' +
                           '<td colspan="2">&nbsp;</td>' +
                           '</tr>' +
                           '</table>' +
                           '<div class="well" style="font-size: 14px">' +
                           '<p id="lugarTrabajoR">' +
                           '<u>' +
                           '<b>SOPORTE </b> ' + resData[i].lugarTrabajo + '</u>' +
                           '<p>' +
                           '<div style="width: 100%">' + resData[i].descripcion + '</div>' +
                           '<br> Archivo/s' +
                           '<br>' +
                           '<br>' +
                           '<div>' + obtenerArchivos(JSON.stringify(resData[i].archivos)) + '</div>' +
                           '</div><hr>' +
                           '</div>';
                     }

                     $('#incidenciaSR').empty();
                     $('#incidenciaSR').append(htmlIncidencia);
                     io.socket.post('/ticket/searchProductoQuery', {
                        idTicket: ticket
                     }, function(resData, jwRes) {
                        var htmlProducto = ''
                        if (jwres.statusCode == 201) {

                           $('#marcaSR').empty();
                           $('#marcaSR').append(resData[0].marca);
                           $('#modeloSR').empty();
                           $('#modeloSR').append(resData[0].modelo);
                           $('#versionSR').empty();
                           $('#versionSR').append(resData[0].version);

                           io.socket.post('/ticket/searchEmpresaClienteStaffQuery', {
                              idTicket: ticket
                           }, function(resData, jwRes) {
                              var htmlEmpresaClienteStaff = ''
                              if (jwres.statusCode == 201) {

                                 $('#nombreEmpresaSR').empty();
                                 $('#nombreEmpresaSR').append(resData[0].empresa);
                                 $('#clientesSR').empty();
                                 $('#clientesSR').append(resData[0].clientes);
                                 $('#staffSR').empty();
                                 $('#staffSR').append(resData[0].staff);

                              }
                           });

                        }
                     });

                  }
               });

            }

         });

      }

      $("#imprimirReporte").click(function() {
         $("#reporteTicket").printMe({
            "path": ["font-awesome/css/font-awesome.css", "css/bootstrap.css", "css/style.css", "css/reportes.css"]
         });
      });
   </script>
   <% } else { %>
      <script>
         location.replace('/');
      </script>
      <% } %>